/* Very specialized and specific styles, misc styles */
.content_title {
    position: absolute;

    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);

    white-space: nowrap;

    font-size: 2.2vw;
}


.content_subtitle {
    position: absolute;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);

    white-space: nowrap;

    font-size: 1.8vw;
}

.content_small_square_p {
    position: absolute;
    top:-18%;
    left:8%;
}

.tall_wide_title {

    position: absolute;
    top: 2%;
    left: 2%;

    font-size: 2.5vw;
}

.content_square_img {

    width: 75%;
    height: 75%;

    border-style: solid;
    border-color: white;
    border-width: 0.25vw;

    position: absolute;

    transform: translate(-50%, -50%);

    top:50%;
    left: 50%;

    user-select: none;
}


.content_rectangle_tall_wide_text {

    position: absolute;

    height: 80%;
    width: 90%;

    top: 10%;
    transform: translateX(-50%);

    left: 50%;

    font-size: 1.5vw;
 

}

.rect_side_title {

    position: absolute;
    top: 5%;
    left: 3%;

    font-size: 2vw;
}

.rect_side_text {

    position: absolute;
    top: 22%;
    left: 3%;

    font-size: 1.2vw;

    background-color: transparent;

    width: 60%;
    height: 70%;

}


.rect_side_img {

    position: absolute;
    top: 0.2%;
    right: 1.2%;

    font-size: 2vw;

    background-color: transparent;

    width: 35%;
    height: 97.5%;
    image-rendering: pixelated;
    transform: scaleX(-1);



}

.clickable_chip {
    cursor: url("Assets/Cursors/Pointer.ico"), default;

    transition: 0.3s;

    user-select: none;
}
.clickable_chip:hover {
    height:84%;
    width:84%;
    transition: 0.3s;
}

.content_rect_side_img{

    width: 75%;
    height: 75%;

    border-style: solid;
    border-color: white;
    border-width: 0.25vw;

    position: absolute;

    transform: translate(-50%, -50%);

    top:50%;
    left: 50%;

    user-select: none;
}

.content_rect_side_img_one{

    width: 25%;
    height: 70%;

    border-style: solid;
    border-color: white;
    border-width: 0.25vw;

    position: absolute;

    transform: translate(-50%, -50%);

    top:50%;
  

    user-select: none;
}

.mao_Zedong_daddy {
    cursor: url("Assets/Cursors/Pointer.ico"), default;


    position: absolute;

    height: 34vw;
    width: 34vw; 

    position: absolute;left: 81.5%;top:60%;transform: translateX(-50%);

}

.tnt {
    border-radius: 10px;
    position: absolute;top:163%;right:1%;height:8vh;cursor: url('Assets/Cursors/Pointer.ico'), default;transition: 0.5s;
}

.tnt:hover {

    transition: 0.5s;
    background-color: rgb(77,75,92);
    border-radius: 10px;

}

.out {
  
    cursor: url("Assets/Cursors/Pointer.ico"), default;
    user-select: none; 

    font-size: 1vw;

    position: absolute;
    bottom: 1%;
    left: 1%;
  
    transition: 0.3s;

   
}

.out:hover {
    transition: 0.3s;
    font-size: 1.2vw;
  
}

.options {

    position: absolute;
    left: 50%;top:40%;
    transform: translate(-50%, -50%)


}

.option_text {

    user-select: none;
    cursor: url("Assets/Cursors/Pointer.ico"), default;

    transition: 0.3s;

}

.option_text:hover {
transition: 0.3s;

font-size: 2vw;
}

.bb{


 background-color: black; 

 transition: 0.5s;

}

.sigma {

  
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    animation: marquee 10s infinite linear;
}
@keyframes marquee {
    0% {
      background-position: 0;
    }
  
    100% {
      background-position: -1000px;
      
    }
  }