/* Very specialized and specific styles, misc styles */
.content_title {
    position: absolute;

    top: 35%;
    left: 50%;

    transform: translate(-50%, -50%);

    white-space: nowrap;

    font-size: 2.2vw;
}


.content_subtitle {
    position: absolute;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);

    white-space: nowrap;

    font-size: 1.8vw;
}

.content_small_square_p {
    position: absolute;
    top:-18%;
    left:8%;
}

.tall_wide_title {

    position: absolute;
    top: 2%;
    left: 2%;

    font-size: 2.5vw;
}

.content_square_img {

    width: 75%;
    height: 75%;

    border-style: solid;
    border-color: white;
    border-width: 0.25vw;

    position: absolute;

    transform: translate(-50%, -50%);

    top:50%;
    left: 50%;

}


.content_rectangle_tall_wide_text {

    position: absolute;

    height: 80%;
    width: 90%;

    top: 10%;
    transform: translateX(-50%);

    left: 50%;

    font-size: 1vw;
 

}