/* Custom font */
@font-face {
    font-family: 'Craftron';
    src: URL('Assets/Fonts/Craftron.ttf') format('truetype');
}

html, body {
    /* Default Cursor */
    cursor: url("Assets/Cursors/Cursor.ico"), default;
    /* Font */
    font-family: Craftron;
    color:white;
    font-size: 1.5vw;
}

/* Top Bar */
.top_bar {

    position: fixed;

    top: 0%;
    left: 0%;

    width: 10000px;
    height: 8%;

    image-rendering: pixelated;



    /* Background Properties */
    background-image: url("Assets/Pages/Topbar.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.top_bar_page {

    position: absolute;

    cursor: url("Assets/Cursors/Pointer.ico"), default;
    user-select: none; 

    background-color: transparent;

    height:100%;
    width: 8vw;

    font-size: 1.5vw;

    transition: 0.3s;

}
.top_bar_page:hover{

    font-size: 1.8vw;

    transition: 0.3s;
}
.top_bar_text {
    
    position: absolute;
    
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.page_home {

    position: absolute;

    left: 4vw;

}

.page_students {

    position: absolute;

    left: 12vw;

}

.page_teacher {

    position: absolute;

    left: 20vw;

}

/* Rectangle */
.rectangle_side {

    background-image: url("Assets/Pages/Windows/Rectangle Side.png");

    height: 320px;
    width:674px;

}

.window_title {

    position: absolute;

    left: 50%;
    top:20%;

    transform: translateX(-50%);

    height:calc(16.0 * 2)vw;
    width:calc(33.7 * 2)vw; 
}